<!DOCTYPE html>
<html lang="en">
    <head>
        <title>edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

        <h1>Edit Pokemon Page</h1>
        <!--  ADD action attribute to form tag-->
        <form action="/pokemon/<%= pokemon.id %>?_method=PUT" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
		Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
		
		<br/>
		<input type="submit" name="" value="Submit Changes"/>
        </form>
    
    </body>
</html>