<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Pokemon Page</h1>

         <!--  NOTE: action will be the route, method will be the HTTP verb-->
     <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" /><br/>
        <!-- Color: <input type="text" name="color" /><br/> -->
        
        <input type="submit" name="" value="Create Pokemon"/>
    </form>
    
    </body>
</html>