<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Show</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Pokemon Show page</h1>
        
                <%= pokemon.name  %> <br>
                 <img src="<%= pokemon.img %>" alt="Pokemon">
                
        
           

    </body>
</html>