<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>This is the Log In page.</h1>
    
        <form action="/users/login" method="Post">
            
            Username: <input type="text"name="username"><br/>
            Password: <input type="text"name="password" ><br/>
             <input type = "submit" value = "Log in">
 
 
     </form>

    </body>
</html>