<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
    <h1>This is the signup page</h1>
    
    <form action="/users/profile" method="Post">
           Name: <input type="text"name= "name"><br/>
           Username: <input type="text"name="username"><br/>
           Password: <input type="text"name="password" ><br/>
            <input type = "submit" value = "Sign up">


    </form>

    </body>
</html>